[submodule "language-sepcific/ts/safe-env"]
	path = language-sepcific/ts/safe-env
	url = https://github.com/RadoslavTsvetanov/safe-ts-envs.git
[submodule "language-sepcific/ts/custom-express"]
	path = language-sepcific/ts/custom-express
	url = https://github.com/RadoslavTsvetanov/custom-express.git
[submodule "language-sepcific/ts/errors-as-values"]
	path = language-sepcific/ts/errors-as-values
	url = https://github.com/RadoslavTsvetanov/errors-as-values
[submodule "non-lang-specific-services/vault"]
	path = non-lang-specific-services/vault
	url = https://github.com/RadoslavTsvetanov/Vault-.git
[submodule "non-lang-specific-services/test-structure-generator"]
	path = non-lang-specific-services/test-structure-generator
	url = https://github.com/RadoslavTsvetanov/tests-directory-generator.git
